## Python data structures

### List

#### A list is a collection of data which can be of mixed data types.
#### A list unlike variables can store multiple values in one container.
#### Each item or value in a list is separated by a comma.
#### A tuple is created with parenthesis [].

In [2]:
# Create a list with animals name
animals = ["bear", "dog", "cat"]

In [9]:
# Accesing items in a list via their index position
animals[0]

'bear'

In [10]:
# Items can also be accesed by negative index
animals[-1]

'cat'

In [11]:
# Change the value of an item in the list 
animals[0] = "bird"
print(animals)

['bird', 'dog', 'cat']

In [12]:
# Add items to a list 
animals.append("shark")
print(animals)

['bird', 'dog', 'cat', 'shark']

In [13]:
# Create a list of mixed data types and also including other list
mixed_data = ["Jack", 47, 5.3, animals]

In [14]:
print(mixed_data)

['Jack', 47, 5.3, ['bird', 'dog', 'cat', 'shark']]

In [15]:
# Remove items from a list: there are few ways to remove items 
animals.pop(3)
# animals.remove("shark")
# del animals[3]

'shark'

In [16]:
print(animals)

['bird', 'dog', 'cat']

In [17]:
# Loop though a list 
for x in animals: 
    print(x)

bird
dog
cat

In [19]:
# Check the length of a list 
print(len(animals))

3

In [22]:
# Clear a list 
animals.clear()

In [23]:
animals

[]

### Tuple

#### A tuple is a collection of data which can be of mixed data types.
#### A tuple unlike variables can store multiple values in one container.
#### Each item or valye in a tuple is separated by a comma.
#### A tuple is created with parenthesis ().
#### Items in a tuple can assessed by their index: 0,1,2,3 etc.
#### Items in a tuple can not be changed (immutable).

In [26]:
# Create a Python tuple called animals
animals = ("bear", "dog", "giraffe", "goat", "leopard", "lion", "penguin", "tiger")

In [27]:
animals[3]

'goat'

In [28]:
animals[-1]

'tiger'

In [30]:
animals[2:5]

('giraffe', 'goat', 'leopard')

In [31]:
print(animals[2:5])

('giraffe', 'goat', 'leopard')

In [32]:
# Tuples are inmutable
animals [0] = "shark"

TypeError: 'tuple' object does not support item assignment

In [34]:
# Looping through the tuple 
for x in animals: 
    print(x)

bear
dog
giraffe
goat
leopard
lion
penguin
tiger

In [35]:
# Return the length of the tuple
print(len(animals))

8

In [36]:
# Join the tuples using + operator
letters = ("a", "b", "c")
numbers = (1,2,3)
letters_numbers = letters + numbers

In [37]:
letters_numbers

('a', 'b', 'c', 1, 2, 3)

### Dictionary

#### A dictionary is a collection of data which is unordered, changeable and indexed.
#### A dictionary is created with curly brackets {}.
#### A populated dictionary contaisn keys and values. The data is in pairs. 
#### Items in a dictionary can assessed by referring to it's name inside square brackets.
#### Values items in a dictionary can be changed.

In [39]:
# Create a dictionary called countries_cities

countries_cities = {
    "United Kingdom" : "London",
    "United States"  : "New York",
    "Belgium"        : "Brussels",
    "Croatia"        : "Zagreb",
    "Egypt"          : "Cairo",
    "Italy"          : "Rome",
}